<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/main.css') }}"/>
    {% endblock %}
</head>
<body>
<div class="page-header">
    <h1>Creature Quest</h1>
    <div class="navigation">
        <a href="/">Creature Database</a>
    </div>
</div>
<div class="page-content">
    {% block body %}{% endblock %}
</div>
<div class="page-footer"></div>
<script src="{{ asset('build/jquery.js') }}"></script>
<script src="{{ asset('js/Components/Component.js') }}"></script>
<script src="{{ asset('js/Mediators/Mediator.js') }}"></script>
<script src="{{ asset('js/Helpers/AjaxHelper.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
