{% extends 'base.html.twig' %}

{% block body %}
    {{ render(controller('App\\Controller\\CreatureController::handleListingFilterGetRequest')) }}
    {{ render(controller('App\\Controller\\CreatureController::handleListingGetRequest')) }}
    {{ render(controller('App\\Controller\\CreatureController::handleCreateGetRequest')) }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/Components/CreatureListingFilterComponent.js') }}"></script>
    <script src="{{ asset('js/Components/CreatureListingComponent.js') }}"></script>
    <script src="{{ asset('js/Components/CreatureCreationComponent.js') }}"></script>
    <script src="{{ asset('js/Mediators/CreateCreatureMediator.js') }}"></script>
    <script src="{{ asset('js/Mediators/CreatureListingFilterMediator.js') }}"></script>
    <script>
        $(document).ready(function () {
            let ajaxHelper = new AjaxHelper();
            let creatureListingFilterComponent = new CreatureListingFilterComponent('#creature-listing-filter-component', ajaxHelper);
            let creatureListingComponent = new CreatureListingComponent('#creature-listing-component', ajaxHelper);
            let creatureCreationComponent = new CreatureCreationComponent('#creature-creation-component', ajaxHelper);
            let createCreatureMediator = new CreateCreatureMediator(creatureCreationComponent, creatureListingComponent);
            let creatureListingFilterMediator = new CreatureListingFilterMediator(creatureListingFilterComponent, creatureListingComponent);

            creatureListingFilterComponent.init();
            creatureListingComponent.init();
            creatureCreationComponent.init();
        });
    </script>
{% endblock %}