{% if callbackUrl is defined and callbackUrl is not null %}
<div id="creature-listing-filter-component" class="component" callback="{{ callbackUrl }}">
    {% endif %}
    <select name="color-filter" id="creature-listing-color-filter">
        <option value="">Show All Colors</option>
        {% for color in colors %}
            <option value="{{ color.id }}">{{ color.name }}</option>
        {% endfor %}
    </select>
    {% if callbackUrl is defined and callbackUrl is not null %}
</div>
{% endif %}